.header {
}

.header-content {
	width: var(--full-width);
	margin: 0 auto;
	padding: var(--indentation-xs) var(--gap);
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.header-control {
	display: flex;
	justify-content: space-between;
}

.header-control .button:first-child {
	margin: 0 10px 0 0;
}

.header .header-logo {
	/* background: var(--text-primary); */
	margin: 0;
}
