.card {
	position: relative;
	padding: 12px 24px;
	margin: 0 0 14px;
    box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
}

.card a {
	text-decoration: none;
	color: var(--text-secondary);
	font-size: var(--text-m);
}


