html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1680px) {
}

@media only screen and (max-width: 1380px) {
	.header__content {
		width: 100% !important;
	}
	.layout__container {
		width: 100% !important;
	}
}

@media only screen and (min-width: 1024px) {
	.grid {
		grid-template-columns: 1fr !important;
		column-gap: inherit !important;
	}
	.header__content {
		width: 100% !important;
	}
	.layout__container {
		width: 100% !important;
	}
	.history__destination,
	.history__details {
		display: grid;
		grid-template-columns: 1fr 15fr !important;
	}
	.e-accordion__short {
		grid-template-columns: 15fr 1fr !important;
	}
	.button_width_full {
		width: inherit !important;
	}
}

@media only screen and (max-width: 790px) {
	.button {
		width: 35px;
		padding: 0px 11px;
	}
	.button-text {
		display: none;
	}
	.button_view_full {
		width: 100%;
	}
	/* .card_view_full .card-info {
		display: grid;
	} */
	.card-path,
	.card-contact {
		display: flex;
		align-items: center;
	}
	.card-text {
		display: grid;
	}
	.card-subtext {
		display: grid;
	}
}

@media only screen and (max-width: 410px) {
}
