.card {
	position: relative;
	padding: 12px 24px;
	margin: 0 0 14px;
    -webkit-box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
            box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
}

.card a {
	text-decoration: none;
	color: var(--text-secondary);
	font-size: var(--text-m);
}



.button {
    background: var(--accent-bg-color);
    border: 2px solid var(--accent-bg-color);
    font-size: var(--text-xl);
	padding: 0px 13px;
	border-radius: 4px;
	-webkit-box-shadow: 0;
	        box-shadow: 0;
	outline: 0;
}

.button .icon {
	padding: 0;
	top: 5px;
	position: relative;
}

.button:hover {
	cursor: pointer;
    background: #DBDBDB;
    border: 2px solid #DBDBDB;
}

.button:focus {
	background: #e6e6e6;
	border: 2px solid #b3b3b3;
}

.button_with_icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	justify-self: center;
}

.button_with_icon-one {
	padding: 0 0 0 11px;
}

.footer {
	width: 100%;
	background-color: var(--bg-addition-color);
	/* position: absolute; */
	/* bottom: 0; */
}



.form {
	line-height: 30px;
	font-size: var(--text-l);
}

.form .text_size_xxl {
	margin: 8px 0 14px;
}

.form .text_size_l {
	height: 13px;
	padding: 0 0 2px;
}

.form .button {
    margin-right: 10px;
}

.grid {
    display: grid;
}

.icon {
	width: 23px;
	height: 23px;
}

.header {
}




.image {
	/* border: 3px solid var(--border-bg-color); */
	/* background: var(--default-bg-color); */

	/* var(--image-url) no-repeat center center; */
	/* background: var(--default-bg-color) no-repeat center center; */
}

.input {
    position: relative;
}

.input .input__control {
	width: 100%;
	border: 2px var(--border-bg-color) solid;
	padding: 8px;
	border-radius: 5px;
	margin: 0 0 21px 0;
	outline: 0;
}

.input__control + .input__close {
    position: absolute;
    right: 7px;
    bottom: 29px;
    width: 22px;
    height: 22px;
    background: url('data:image/svg+xml;utf8, <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">                      <path d="M11 0.34375C5.11328 0.34375 0.34375 5.11328 0.34375 11C0.34375 16.8867 5.11328 21.6562 11 21.6562C16.8867 21.6562 21.6562 16.8867 21.6562 11C21.6562 5.11328 16.8867 0.34375 11 0.34375ZM16.225 13.7973C16.427 13.9992 16.427 14.3258 16.225 14.5277L14.5234 16.225C14.3215 16.427 13.9949 16.427 13.793 16.225L11 13.4062L8.20273 16.225C8.00078 16.427 7.67422 16.427 7.47227 16.225L5.775 14.5234C5.57305 14.3215 5.57305 13.9949 5.775 13.793L8.59375 11L5.775 8.20273C5.57305 8.00078 5.57305 7.67422 5.775 7.47227L7.47656 5.7707C7.67852 5.56875 8.00508 5.56875 8.20703 5.7707L11 8.59375L13.7973 5.775C13.9992 5.57305 14.3258 5.57305 14.5277 5.775L16.2293 7.47656C16.4312 7.67852 16.4312 8.00508 16.2293 8.20703L13.4062 11L16.225 13.7973Z" fill="rgba(204,204,204)"/>                                                                </svg>') right no-repeat;
}

.input_width_full {
	width: 100%;
}

.input_with_add-ons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 0 24px 0;
}

.input_with_add-ons .input__control {
	width: 45px;
	text-align: right;
	margin: 10px;
}

.layout {
	height: 100%;
	padding: 8px var(--gap) 14px var(--gap);
	margin: 0 auto;
	width: var(--full-width);
}

.link {
    color: var(--text-primary);
    text-decoration: none;
}

.link:hover {
    color: #E00000;
}

.list {
    
}

.log {
	overflow-y: hidden;
	height: 74vh;
	background: #f2f2f2;
	border-radius: 6px;
     padding: 12px 10px;
}

@font-face {
	font-family: 'YS Text Lights';
	src: url('fonts/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2') format('woff2'),
		url('fonts/bIx8jOfCEfR-mECoDUEZywDBuHA.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'YS Text Semi';
	src: url('fonts/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2') format('woff2'),
		url('fonts/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'YS Text Bold';
	src: url('fonts/6Roy0LCd05cK4nNCipgzheYcNVU.woff2') format('woff2'),
		url('fonts/KtHQR1erf3spayoIM4M4ngg0e2E.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

* {
	font-family: 'YS Text Lights';
	font-size: var(--text-l);
}

body {
	margin: 0;
	padding: 0;
	color: #000;
}

.page {
}

.section {
	/* padding: 20px; */
}

.text {
	/* display: flex; */
	/* flex-wrap: wrap; */
	line-height: 20px;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1680px) {
}

@media only screen and (max-width: 1380px) {
}

@media only screen and (min-width: 1024px) {
	.button_width_full {
		width: inherit !important;
	}
}

@media only screen and (max-width: 790px) {
	.button {
		width: 38px;
		padding: 0px 11px;
	}
	.button-text {
		display: none;
	}
	.button_width_full {
		width: 100%;
        display: block;
        text-align: center;
	}
	.card__path,
	.card__contact {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.card__text {
		display: grid;
	}
	.card__subtext {
		display: grid !important;
	}
    .footer {
        width: 100%;
        bottom: inherit !important;
    }
    .footer__content {
        display: grid !important;
    }
    .grid-fraction_position_center {
        padding: 153px 0 !important;
    }
    .form .button {
        margin: 0 0 10px;
    }
}

@media only screen and (max-width: 410px) {
}


.menu {
    list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding: 0;
    margin: 0;
}

.card__content {
	display: grid;
	grid-template-columns: 33px 9fr 110px;
}

.card__date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: var(--text-secondary);
}



.card__footer {
    position: absolute;
    bottom: 0;
}

.card__footer .text {
    /* margin-top: 16px; */
}

.card__footer .text:nth-child(2) {
    margin: 15px 0 5px;
}
.card__status {
	padding: 4px 0;
}



.card__subtext {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.card__subtext a {
    padding: 0 4px;
}

.card__subtext .icon {
	background-position: 3px;
}



.card__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    max-width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	line-height: 28px;
}

.card__text .text {
    width: 210px;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
}



.card__time {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: var(--text-secondary);
}

.card__time .icon {
	background: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0C4.92339 0 0 4.92339 0 11C0 17.0766 4.92339 22 11 22C17.0766 22 22 17.0766 22 11C22 4.92339 17.0766 0 11 0ZM15.1024 13.8831L14.2153 14.9919C14.1571 15.0647 14.0851 15.1253 14.0034 15.1703C13.9218 15.2153 13.8321 15.2437 13.7395 15.254C13.6468 15.2643 13.5531 15.2562 13.4636 15.2303C13.3741 15.2044 13.2905 15.161 13.2177 15.1028L10.246 12.8975C10.0383 12.7313 9.87072 12.5204 9.75555 12.2807C9.64039 12.0409 9.58061 11.7783 9.58064 11.5123V4.6129C9.58064 4.42469 9.65541 4.24418 9.7885 4.11109C9.92159 3.978 10.1021 3.90323 10.2903 3.90323H11.7097C11.8979 3.90323 12.0784 3.978 12.2115 4.11109C12.3446 4.24418 12.4194 4.42469 12.4194 4.6129V11L14.9919 12.8851C15.0647 12.9433 15.1254 13.0154 15.1703 13.0971C15.2153 13.1787 15.2437 13.2685 15.254 13.3612C15.2642 13.4539 15.2561 13.5477 15.2301 13.6372C15.2041 13.7268 15.1607 13.8103 15.1024 13.8831Z" fill="rgba(127,130,133)"/></svg>')
		no-repeat;
	background-size: 16px;
}

.card_border_all {
	/* border-bottom: 1px solid; */
	/* border-color: var(--border-bg-color); */
	border-radius: 6px;
	/* box-shadow: -1px 1px 1px var(--border-bg-color); */
	-webkit-transition: -webkit-box-shadow 0.2s ease-out;
	transition: -webkit-box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

.card_border_all:hover {
	border-radius: 6px;
	-webkit-box-shadow: -2px 2px 5px var(--border-bg-color);
	        box-shadow: -2px 2px 5px var(--border-bg-color);
	-webkit-transform: scale(1.01);
	        transform: scale(1.01);
	cursor: pointer;
}

.card_view_full.card_border_all:hover {
	border-radius: 6px;
	-webkit-transform: none;
	        transform: none;
	cursor: inherit;
    -webkit-box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
            box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
}

.card_view_default {
    background: var(--default-bg-color);
}

.card_view_full .card__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-top: 1px solid var(--border-bg-color);
	margin-top: 5px;
}

.card_view_full .card__content {
	grid-template-columns: 33px 9fr;
}

.card_view_full .card__info .card__date,
.card_view_full .card__info .card__time {
	margin: 10px 10px 0 0;
}



.button_size_l {
	height: 28px;
}

.button_size_m {
	height: 28px;
}

.button_size_s {
    height: 24px;
}

.button_size_xl {
	height: 36px;
}

.button_size_xxl {
    height: 64px;
}

.button_view_active {
	background: #fc0;
    border: 2px solid #fc0;
}

.button_view_active:hover {
	background: #f2c200;
    border: 2px solid #f2c200;
}

.button_view_active:focus {
	background: #f2c200;
	border: 2px solid #b38f00;
}

.button_width_full {
    width: 100%;
}

.footer__content {
	width: var(--full-width);
	margin: 0 auto;
	padding: var(--indentation-xs) var(--gap);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}



.form__control {
    width: 65%;
}

.form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form__label.text {
    /* margin: 13px 0; */
}

.form_border_all {
    border: solid var(--border-bg-color);
}

.form_view_default {
    background: var(--default-bg-color);
}

.grid__fraction_position_center {
	text-align: center;
	margin: 0 auto;
	width: 230px;
	padding: 230px 0;
}

.section_indent-b_xxxxl .grid__fraction.grid__fraction_m-col_8 {
	grid-template-rows: 81px 226px 99px 70px;
	display: grid;
}

.section_indent-b_xxxxl .grid__fraction.grid__fraction_m-col_8 .text-word {
	margin: 7px 0 8px;
}

.section_indent-b_xxxxl .grid__fraction.grid__fraction_m-col_8 .text_type_h1 {
	margin: 19px 0;
}

.section_indent-b_xxxxl .grid__fraction.grid__fraction_m-col_8 .text_type_h2 {
	margin: 45px 0;
}

@media only screen and (max-width: 800px) {
	.section_indent-b_xxxxl .grid__fraction.grid__fraction_m-col_8 {
		grid-template-rows: 73px 251px 99px 74px;
		display: grid;
	}
	.section_indent-b_xxxxl .grid__fraction.grid__fraction_m-col_8 .text_type_h1 {
		margin: 11px 0;
	}

	.section_indent-b_xxxxl .grid__fraction.grid__fraction_m-col_8 .text_type_h2 {
		margin: 45px 0;
	}
}

.grid_col-gap_full {
    -webkit-column-gap: var(--gap);
       -moz-column-gap: var(--gap);
            column-gap: var(--gap);
}

.grid_col-gap_half {
    -webkit-column-gap: calc(var(--gap) / 2);
       -moz-column-gap: calc(var(--gap) / 2);
            column-gap: calc(var(--gap) / 2);
}

.grid_col-gap_two-thirds {
    -webkit-column-gap: calc(var(--gap) * 2 / 3);
       -moz-column-gap: calc(var(--gap) * 2 / 3);
            column-gap: calc(var(--gap) * 2 / 3);
}

.grid_m-columns_10 {
    grid-template-columns: repeat(10, 1fr);
}

.grid_m-columns_12 {
    grid-template-columns: 1fr;
}

.grid_row-gap_full {
    grid-row-gap: var(--gap);
}

.grid_row-gap_half {
    grid-row-gap: calc(var(--gap) / 2);
}

.grid_screen-m {
    width: 1024px;
}

.icon_fa_calendar {
	background: url('data:image/svg+xml;utf8,<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.60806 9H3.36264C3.15714 9 2.98901 8.83125 2.98901 8.625V7.375C2.98901 7.16875 3.15714 7 3.36264 7H4.60806C4.81355 7 4.98169 7.16875 4.98169 7.375V8.625C4.98169 8.83125 4.81355 9 4.60806 9ZM7.9707 8.625V7.375C7.9707 7.16875 7.80256 7 7.59707 7H6.35165C6.14615 7 5.97802 7.16875 5.97802 7.375V8.625C5.97802 8.83125 6.14615 9 6.35165 9H7.59707C7.80256 9 7.9707 8.83125 7.9707 8.625ZM10.9597 8.625V7.375C10.9597 7.16875 10.7916 7 10.5861 7H9.34066C9.13517 7 8.96703 7.16875 8.96703 7.375V8.625C8.96703 8.83125 9.13517 9 9.34066 9H10.5861C10.7916 9 10.9597 8.83125 10.9597 8.625ZM7.9707 11.625V10.375C7.9707 10.1687 7.80256 10 7.59707 10H6.35165C6.14615 10 5.97802 10.1687 5.97802 10.375V11.625C5.97802 11.8313 6.14615 12 6.35165 12H7.59707C7.80256 12 7.9707 11.8313 7.9707 11.625ZM4.98169 11.625V10.375C4.98169 10.1687 4.81355 10 4.60806 10H3.36264C3.15714 10 2.98901 10.1687 2.98901 10.375V11.625C2.98901 11.8313 3.15714 12 3.36264 12H4.60806C4.81355 12 4.98169 11.8313 4.98169 11.625ZM10.9597 11.625V10.375C10.9597 10.1687 10.7916 10 10.5861 10H9.34066C9.13517 10 8.96703 10.1687 8.96703 10.375V11.625C8.96703 11.8313 9.13517 12 9.34066 12H10.5861C10.7916 12 10.9597 11.8313 10.9597 11.625ZM13.9487 3.5V14.5C13.9487 15.3281 13.2793 16 12.4542 16H1.49451C0.669414 16 0 15.3281 0 14.5V3.5C0 2.67188 0.669414 2 1.49451 2H2.98901V0.375C2.98901 0.16875 3.15714 0 3.36264 0H4.60806C4.81355 0 4.98169 0.16875 4.98169 0.375V2H8.96703V0.375C8.96703 0.16875 9.13517 0 9.34066 0H10.5861C10.7916 0 10.9597 0.16875 10.9597 0.375V2H12.4542C13.2793 2 13.9487 2.67188 13.9487 3.5ZM12.4542 14.3125V5H1.49451V14.3125C1.49451 14.4156 1.57857 14.5 1.68132 14.5H12.2674C12.3701 14.5 12.4542 14.4156 12.4542 14.3125Z" fill="rgba(127,130,133)"/></svg>');
	background-repeat: no-repeat;
}

.icon_fa_clock {
	background: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0C4.92339 0 0 4.92339 0 11C0 17.0766 4.92339 22 11 22C17.0766 22 22 17.0766 22 11C22 4.92339 17.0766 0 11 0ZM15.1024 13.8831L14.2153 14.9919C14.1571 15.0647 14.0851 15.1253 14.0034 15.1703C13.9218 15.2153 13.8321 15.2437 13.7395 15.254C13.6468 15.2643 13.5531 15.2562 13.4636 15.2303C13.3741 15.2044 13.2905 15.161 13.2177 15.1028L10.246 12.8975C10.0383 12.7313 9.87072 12.5204 9.75555 12.2807C9.64039 12.0409 9.58061 11.7783 9.58064 11.5123V4.6129C9.58064 4.42469 9.65541 4.24418 9.7885 4.11109C9.92159 3.978 10.1021 3.90323 10.2903 3.90323H11.7097C11.8979 3.90323 12.0784 3.978 12.2115 4.11109C12.3446 4.24418 12.4194 4.42469 12.4194 4.6129V11L14.9919 12.8851C15.0647 12.9433 15.1254 13.0154 15.1703 13.0971C15.2153 13.1787 15.2437 13.2685 15.254 13.3612C15.2642 13.4539 15.2561 13.5477 15.2301 13.6372C15.2041 13.7268 15.1607 13.8103 15.1024 13.8831Z" fill="rgba(255,154,0)"/></svg>');
	background-repeat: no-repeat;
}

.icon_fa_code-commit {
	background: url('data:image/svg+xml;utf8,<svg width="16" height="8" viewBox="0 0 16 8" xmlns="http://www.w3.org/2000/svg"><path d="M3.2 4C3.2 4.27 3.2225 4.5375 3.265 4.8H0.3C0.135 4.8 0 4.665 0 4.5V3.5C0 3.335 0.135 3.2 0.3 3.2H3.265C3.2225 3.4625 3.2 3.73 3.2 4ZM15.7 3.2H12.735C12.78 3.4625 12.8 3.73 12.8 4C12.8 4.27 12.7775 4.5375 12.735 4.8H15.7C15.865 4.8 16 4.665 16 4.5V3.5C16 3.335 15.865 3.2 15.7 3.2ZM8 1.2C7.2525 1.2 6.55 1.4925 6.02 2.02C5.49 2.55 5.2 3.2525 5.2 4C5.2 4.7475 5.49 5.45 6.02 5.98C6.55 6.5075 7.2525 6.8 8 6.8C8.7475 6.8 9.45 6.5075 9.98 5.98C10.51 5.45 10.8 4.7475 10.8 4C10.8 3.2525 10.51 2.55 9.98 2.02C9.45 1.4925 8.7475 1.2 8 1.2ZM8 0C10.21 0 12 1.79 12 4C12 6.21 10.21 8 8 8C5.79 8 4 6.21 4 4C4 1.79 5.79 0 8 0Z" fill="rgba(127,130,133)"/></svg>');
	background-repeat: no-repeat;
}

.icon_fa_cogs {
	background: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.4658 7.44193L10.4352 6.84677C10.5392 6.28548 10.5392 5.70968 10.4352 5.14839L11.4658 4.55323C11.5844 4.48549 11.6376 4.34517 11.5989 4.21452C11.3303 3.35324 10.8731 2.57421 10.2755 1.92582C10.1836 1.82663 10.0336 1.80244 9.91745 1.87018L8.88681 2.46534C8.45374 2.09276 7.95536 1.80485 7.41585 1.61615V0.428247C7.41585 0.292763 7.32149 0.174216 7.18843 0.145183C6.30053 -0.0532029 5.39085 -0.0435256 4.5465 0.145183C4.41344 0.174216 4.31908 0.292763 4.31908 0.428247V1.61856C3.78199 1.80969 3.2836 2.0976 2.84812 2.46776L1.8199 1.8726C1.70135 1.80485 1.55377 1.82663 1.46184 1.92824C0.864258 2.57421 0.407002 3.35324 0.138454 4.21694C0.0973256 4.34759 0.152971 4.48791 0.271518 4.55565L1.30216 5.15081C1.19813 5.7121 1.19813 6.2879 1.30216 6.84919L0.271518 7.44435C0.152971 7.51209 0.0997449 7.65241 0.138454 7.78306C0.407002 8.64434 0.864258 9.42337 1.46184 10.0718C1.55377 10.171 1.70377 10.1951 1.8199 10.1274L2.85054 9.53224C3.2836 9.90482 3.78199 10.1927 4.3215 10.3814V11.5718C4.3215 11.7072 4.41586 11.8258 4.54892 11.8548C5.43682 12.0532 6.3465 12.0435 7.19085 11.8548C7.32391 11.8258 7.41827 11.7072 7.41827 11.5718V10.3814C7.95536 10.1903 8.45374 9.9024 8.88923 9.53224L9.91987 10.1274C10.0384 10.1951 10.186 10.1734 10.2779 10.0718C10.8755 9.42579 11.3328 8.64676 11.6013 7.78306C11.6376 7.64999 11.5844 7.50967 11.4658 7.44193ZM5.86747 7.93306C4.80053 7.93306 3.93199 7.06451 3.93199 5.99758C3.93199 4.93065 4.80053 4.0621 5.86747 4.0621C6.9344 4.0621 7.80294 4.93065 7.80294 5.99758C7.80294 7.06451 6.9344 7.93306 5.86747 7.93306Z" fill="rgba(17,17,17)"/></svg>');
	background-repeat: no-repeat;
}

.icon_fa_configure {
    /* icon_fa_configure 1 */
    width: 124px;
    height: 124px;
    margin: 0 auto;

    background: url('data:image/svg+xml;utf8,<svg width="124" height="124" viewBox="0 0 124 124" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M54.2526 23.2719V35.0895L61.446 42.2818C59.799 33.8545 62.2937 25.2577 68.3486 19.2036C73.2653 14.2877 79.7805 11.6481 86.5136 11.6481H86.8042L72.902 25.4999L76.5592 47.4399L98.5025 51.0966L112.38 37.2206C112.453 44.0738 109.813 50.6607 104.824 55.6493C102.571 57.9014 99.9314 59.6207 97.1219 60.88C97.5579 61.2675 98.0665 61.5823 98.4782 61.9939L105.914 69.4284C108.457 67.9027 110.879 66.0623 113.034 63.8828C122.262 54.6564 126.041 41.0468 122.892 28.3816C122.165 25.4272 119.889 23.1024 116.982 22.2791C114.027 21.4557 110.879 22.3033 108.747 24.4585L94.5304 38.6494L86.6831 37.3417L85.3753 29.4956L99.5681 15.3048C101.724 13.1495 102.547 10.0014 101.724 7.07118C100.924 4.141 98.5751 1.86466 95.6203 1.13817C82.7353 -2.05839 69.487 1.6225 60.1139 10.97C57.6434 13.4401 55.6332 16.225 53.9862 19.1794L54.2526 19.3731V23.2719ZM25.6731 109.942C22.573 113.042 17.1235 113.042 14.0233 109.942C12.4733 108.393 11.6013 106.31 11.6013 104.13C11.6013 101.927 12.449 99.8684 14.0233 98.3185L46.5749 65.7717L38.3644 57.5623L5.81278 90.085C2.05869 93.8385 0 98.8271 0 104.13C0 109.434 2.05869 114.422 5.81278 118.176C9.56687 121.929 14.5562 123.988 19.8603 123.988C25.1645 123.988 30.1538 121.929 33.9079 118.176L58.3458 93.7416C55.9965 89.9154 54.6644 85.5565 54.5433 81.1249L25.6731 109.942ZM121.366 95.8242L93.0045 67.4669C87.4097 61.8729 79.0539 60.7831 72.3207 64.1008L46.5023 38.2861V23.2477L15.5008 0L0 15.4985L23.2511 46.4955H38.2917L64.1102 72.3101C60.8162 79.0423 61.8819 87.3969 67.4767 92.9909L95.8383 121.348C99.3744 124.884 105.09 124.884 108.602 121.348L121.366 108.586C124.878 105.051 124.878 99.3356 121.366 95.8242Z" fill="black" fill-opacity="0.1"/></svg>');
}
.icon_fa_done {
	background: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.6562 11C21.6562 16.8853 16.8853 21.6562 11 21.6562C5.1147 21.6562 0.34375 16.8853 0.34375 11C0.34375 5.1147 5.1147 0.34375 11 0.34375C16.8853 0.34375 21.6562 5.1147 21.6562 11ZM9.7674 16.6424L17.6736 8.73615C17.9421 8.46768 17.9421 8.03236 17.6736 7.76389L16.7014 6.79164C16.4329 6.52313 15.9976 6.52313 15.7291 6.79164L9.28125 13.2394L6.2709 10.2291C6.00243 9.96063 5.56712 9.96063 5.29861 10.2291L4.32635 11.2014C4.05788 11.4698 4.05788 11.9051 4.32635 12.1736L8.7951 16.6424C9.06361 16.9109 9.49889 16.9109 9.7674 16.6424Z" fill="rgba(0,179,65)"/></svg>');
	background-repeat: no-repeat;
}

.icon_fa_play {
	background: url('data:image/svg+xml;utf8,<svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.28873 4.19256L1.41401 0.128275C0.855434 -0.20179 0 0.11851 0 0.934883V9.06151C0 9.7939 0.79489 10.2353 1.41401 9.86811L8.28873 5.80578C8.90198 5.44447 8.90394 4.55388 8.28873 4.19256Z" fill="rgba(17,17,17)"/></svg>');
	background-repeat: no-repeat;
	top: 5px;
	position: relative;
}

.icon_fa_rebuild {
	background: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.77548 3.03097C8.01915 2.32277 7.03761 1.93456 5.99632 1.93548C4.12234 1.93713 2.50452 3.22205 2.05783 5.00444C2.02531 5.13419 1.90972 5.22581 1.77595 5.22581H0.389589C0.208185 5.22581 0.070379 5.06112 0.103935 4.88284C0.627411 2.103 3.06806 0 6 0C7.60761 0 9.06752 0.632322 10.1447 1.66173L11.0088 0.797661C11.3746 0.431879 12 0.690944 12 1.20825V4.45161C12 4.7723 11.74 5.03226 11.4194 5.03226H8.17599C7.65869 5.03226 7.39962 4.40683 7.7654 4.04102L8.77548 3.03097ZM0.580645 6.96774H3.82401C4.34131 6.96774 4.60038 7.59317 4.2346 7.95898L3.22452 8.96906C3.98085 9.67727 4.96246 10.0655 6.00377 10.0645C7.87679 10.0628 9.49527 8.7788 9.94217 6.99561C9.97468 6.86586 10.0903 6.77424 10.224 6.77424H11.6104C11.7918 6.77424 11.9296 6.93893 11.8961 7.11721C11.3726 9.897 8.93194 12 6 12C4.39239 12 2.93248 11.3677 1.85528 10.3383L0.99121 11.2023C0.625427 11.5681 0 11.3091 0 10.7917V7.54839C0 7.2277 0.25996 6.96774 0.580645 6.96774Z" fill="rgba(17,17,17)"/></svg>');
	background-repeat: no-repeat;
}

.icon_fa_user {
	background: url('data:image/svg+xml;utf8,<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.125 7C8.0582 7 9.625 5.4332 9.625 3.5C9.625 1.5668 8.0582 0 6.125 0C4.1918 0 2.625 1.5668 2.625 3.5C2.625 5.4332 4.1918 7 6.125 7ZM8.575 7.875H8.11836C7.51133 8.15391 6.83594 8.3125 6.125 8.3125C5.41406 8.3125 4.74141 8.15391 4.13164 7.875H3.675C1.64609 7.875 0 9.52109 0 11.55V12.6875C0 13.4121 0.587891 14 1.3125 14H10.9375C11.6621 14 12.25 13.4121 12.25 12.6875V11.55C12.25 9.52109 10.6039 7.875 8.575 7.875Z" fill="rgba(127,130,133)"/></svg>');
	background-repeat: no-repeat;
}

.icon_fa_warning {
	background: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0.34375C5.11328 0.34375 0.34375 5.11328 0.34375 11C0.34375 16.8867 5.11328 21.6562 11 21.6562C16.8867 21.6562 21.6562 16.8867 21.6562 11C21.6562 5.11328 16.8867 0.34375 11 0.34375ZM16.225 13.7973C16.427 13.9992 16.427 14.3258 16.225 14.5277L14.5234 16.225C14.3215 16.427 13.9949 16.427 13.793 16.225L11 13.4062L8.20273 16.225C8.00078 16.427 7.67422 16.427 7.47227 16.225L5.775 14.5234C5.57305 14.3215 5.57305 13.9949 5.775 13.793L8.59375 11L5.775 8.20273C5.57305 8.00078 5.57305 7.67422 5.775 7.47227L7.47656 5.7707C7.67852 5.56875 8.00508 5.56875 8.20703 5.7707L11 8.59375L13.7973 5.775C13.9992 5.57305 14.3258 5.57305 14.5277 5.775L16.2293 7.47656C16.4312 7.67852 16.4312 8.00508 16.2293 8.20703L13.4062 11L16.225 13.7973Z" fill="rgba(255,51,51)"/></svg>');
	background-repeat: no-repeat;
}

.header__content {
	width: var(--full-width);
	margin: 0 auto;
	padding: var(--indentation-xs) var(--gap);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header__control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header__control .button:first-child {
	margin: 0 10px 0 0;
}

.header__logo {
    margin: 0;
    padding-right: 10px;
    color: var(--text-primary);
    font-family: 'YS Text Bold';
}



.input_required .input__label:after {
    content: '*';
    color: #E00000;
    padding-left: 5px;
}

.input_size_l {
    height: 42px;
}

.input_size_m {
    height: 32px;
}

.input_size_s {
    height: 24px;
}

.input_size_xl {
    height: 56px;
}

.input_size_xxl {
    height: 64px;
}

.layout__container {
}

.list__item .text {
    /* display: inherit; */
}

.list_border_all {
    border: 3px solid;
    border-color: var(--border-bg-color);
}

.list_view_defaut {
    background: --default-bg-color;
}

.section_indent-b_xxl {
    margin-bottom: var(--indentation-xxl);
}

.section_indent-b_xxxxl {
    margin-bottom: var(--indentation-xxxxl);
}

.section_space-v_xxl {
    padding: var(--indentation-xxl) 0;
}

.section_space-v_xxxxl {
    padding: var(--indentation-xxxxl) 0;
}

.text_align_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.text_size_l {
	font-size: var(--text-l);
}

.text_size_m {
	font-size: var(--text-m);
}

.text_size_s {
	font-size: var(--text-s);
}

.text_size_xl {
	font-size: var(--text-xl);
}

.text_size_xxl {
	font-size: var(--text-xxl);
}

.text_size_xxxl {
	font-size: var(--text-xxxl);
}

.text_type_h1 {
	margin: 0;
}

.text_type_h2 {
	margin: 0;
}

.text_type_h3 {
	margin: 14px 0px 14px;
}

.text_type_p .text__word {
    margin: 15px 21px;
}

.text_view_ghost {
    background: var(--text-additional);
}

.text_view_link {
    background: var(--text-link);
}

.text_view_primary {
    background: var(--text-primary);
}

.text_view_secondary {
    background: var(--text-secondary);
}

.theme_color_project-brand {
    --default-bg-color: #0077ff;
    --accent-bg-color: #FFFFFF;
    --border-bg-color: #FFFFFF;

    --text-primary: #FFFFFF;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-link: #FFFFFF;

    --image-url: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='image-placeholder' transform='translate(-620.000000, -368.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(500.000000, 368.000000)'%3e%3cg id='placeholder' transform='translate(120.000000, 0.000000)'%3e%3cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
}
.theme_color_project-default {
	--default-bg-color: #ffffff;
	--accent-bg-color: #e6e6e6;
	--border-bg-color: #CCCCCC;
    --bg-addition-color: #f0f2f3;

	--text-primary: #000000;
	--text-secondary: #7f8285;
	--text-additional: #7f8285;
	--text-link: #0077ff;

	--image-url: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eplaceholder%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='image-placeholder' transform='translate(-500.000000, -368.000000)' fill='%23000000' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(500.000000, 368.000000)'%3e%3cg id='placeholder'%3e%3cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
	/* background: var(--default-bg-color); */
}

.theme_color_project-inverse {
	--default-bg-color: none;
	--accent-bg-color: #111111;
	--border-bg-color: #ffffff;

	--text-primary: rgba(127, 130, 133);
	--text-secondary: rgba(255, 255, 255, 0.6);
	--text-additional: rgba(255, 255, 255, 0.3);
	--text-link: #0070f0;

	--image-url: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='image-placeholder' transform='translate(-620.000000, -368.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(500.000000, 368.000000)'%3e%3cg id='placeholder' transform='translate(120.000000, 0.000000)'%3e%3cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
	background: var(--default-bg-color);
}

.theme_color_project-warning {
    --default-bg-color: #ff3333;
    --accent-bg-color: #FFFFFF;
    --border-bg-color: #ff3333;

    --text-primary: #FFFFFF;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-link: #FFF;

    --image-url: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='image-placeholder' transform='translate(-620.000000, -368.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(500.000000, 368.000000)'%3e%3cg id='placeholder' transform='translate(120.000000, 0.000000)'%3e%3cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");

}
.theme_gap_small {
    --gap: var(--indentation-xl);
}

@media (max-width: 1024px) { 
    .theme_gap_small {
        --gap: var(--indentation-s)
    }
}
.theme_size_default {
	--text-s: 9px;
	--text-m: 13px;
	--text-l: 15px;
	--text-xl: 16px;
	--text-xxl: 18px;
	--text-xxxl: 24px;

	--interval-s: 21px;
	--interval-m: 25px;
	--interval-l: 28px;
	--interval-xl: 34px;
	--interval-xxl: 38px;

	--full-width: 1024px;
}

@media only screen and (max-width: 790px) {
	.theme_size_default {
		--full-width: 100%;
	}
}

.theme_space_default {
	--indentation-xxxs: 3px;
	--indentation-xxs: 6px;
	--indentation-xs: 10px;
	--indentation-s: 15px;
	--indentation-m: 18px;
	--indentation-l: 24px;
	--indentation-xl: 27px;
	--indentation-xxl: 36px;
	--indentation-xxxl: 45px;
	--indentation-xxxxl: 51px;
	--indentation-xxxxxl: 72px;
}

.title-subtitle .text {
     color: var(--text-additional);
    font-weight: normal;
}

.menu__item {
    padding-bottom: 4px;
}

.menu__item .link {
	padding-right: 8px;
}

.menu_view_horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card__content_distribute_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card__content_space-a_l {
    padding: var(--indentation-l);
}

.card__content_space-a_m {
    padding: var(--indentation-m);
}

.card__content_space-a_xl {
    padding: var(--indentation-xl);
}

.card__content_space-a_xxl {
    padding: var(--indentation-xxl);
}

.card__content_space-a_xxxl {
    padding: var(--indentation-xxxl);
}

.card__content_vertical-align_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.card__footer_distribute_between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card__footer_distribute_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card__footer_distribute_right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

.card__footer_space-a_l {
    padding: var(--indentation-l);
}

.card__footer_space-a_m {
    padding: var(--indentation-m);
}

.card__footer_space-a_xl {
    padding: var(--indentation-xl);
}

.card__footer_space-a_xxl {
    padding: var(--indentation-xxl) 0 0;
}

.card__footer_vertical-align_bottom {
    -webkit-box-align: bottom;
        -ms-flex-align: bottom;
            align-items: bottom;
}
.card__footer_vertical-align_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card__footer_vertical-align_top {
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
}

.card__status_type_clock {
	color: rgba(255, 154, 0);
	font-weight: bold;
}

.card__status_type_done {
	color: rgba(0, 179, 65);
	font-weight: bold;
}



.card__status_type_warning {
	color: rgba(255, 51, 51);
	font-weight: bold;
}



.card__status_view_text {
	font-size: var(--text-xxl);
    font-family: 'YS Text Bold';
	padding: 0 10px 0 0;
}



.form__item_border_bottom {
    border-bottom: solid;
    border-color: var(--border-bg-color);
}

.form__item_distribute_between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.form__item_indent-b_l {
    margin-bottom: var(--indentation-l);
}

.form__item_indent-b_m {
    margin-bottom: var(--indentation-m);
}

.form__item_indent-b_s {
    margin-bottom: var(--indentation-s);
}

.form__item_indent-b_xl {
    margin-bottom: var(--indentation-xl);
}

.form__item_indent-b_xl:last-child {
    margin-bottom: 0;
}

.form__item_indent-b_xxl {
    margin-bottom: var(--indentation-xxl);
}

.form__item_indent-b_xxs {
    margin-bottom: var(--indentation-xxs);
}

.form__item_indent-b_xxxl {
    margin-bottom: var(--indentation-xxxl);
}

.form__item_indent-b_xxxs {
    margin-bottom: var(--indentation-xxxs);
}

.form__item_indent-b_xxxxl {
    margin-bottom: var(--indentation-xxxxl);
}

.form__item_space-h_l {
    padding-left: var(--indentation-l);
    padding-right: var(--indentation-l);
}

.form__item_space-h_m {
    padding-left: var(--indentation-m);
    padding-right: var(--indentation-m);
}

.form__item_space-h_s {
    padding-left: var(--indentation-s);
    padding-right: var(--indentation-s);
}

.form__item_space-h_xl {
    padding-left: var(--indentation-xl);
    padding-right: var(--indentation-xl);
}

.form__item_space-h_xxl {
    padding-left: var(--indentation-xxl);
    padding-right: var(--indentation-xxl);
}

.form__item_space-h_xxs {
    padding-left: var(--indentation-xxs);
    padding-right: var(--indentation-xxs);
}

.form__item_space-h_xxxl {
    padding-left: var(--indentation-xxxl);
    padding-right: var(--indentation-xxxl);
}
.form__item_space-h_xxxs {
    padding-left: var(--indentation-xxxs);
    padding-right: var(--indentation-xxxs);
}

.form__item_space-h_xxxxl {
    padding-left: var(--indentation-xxxxl);
    padding-right: var(--indentation-xxxxl);
}

.form__item_space-v_l {
    padding-top: var(--indentation-l);
    padding-bottom: var(--indentation-l);
}

.form__item_space-v_m {
    padding-top: var(--indentation-m);
    padding-bottom: var(--indentation-m);
}

.form__item_space-v_s {
    padding-top: var(--indentation-s);
    padding-bottom: var(--indentation-s);
}

.form__item_space-v_xl {
    padding-top: var(--indentation-xl);
    padding-bottom: var(--indentation-xl);
}

.form__item_space-v_xxl {
    padding-top: var(--indentation-xxl);
    padding-bottom: var(--indentation-xxl);
}

.form__item_space-v_xxs {
    padding-top: var(--indentation-xxs);
    padding-bottom: var(--indentation-xxs);
}

.form__item_space-v_xxxl {
    padding-top: var(--indentation-xxxl);
    padding-bottom: var(--indentation-xxxl);
}

.form__item_space-v_xxxs {
    padding-top: var(--indentation-xxxs);
    padding-bottom: var(--indentation-xxxs);
}

.form__item_space-v_xxxxl {
    padding-top: var(--indentation-xxxxl);
    padding-bottom: var(--indentation-xxxxl);
}

.form__item_vertical-align_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form__label_width_default {
    width: 35%;
}

.grid-fraction_m-col_12 {
    grid-column: 12 span;
}

.grid__fraction_m-col_2 {
    grid-column: 2 span;
}

.grid__fraction_m-col_3 {
    grid-column: 3 span;
}

.grid__fraction_m-col_4 {
    grid-column: 4 span;
}

.grid__fraction_m-col_5 {
    grid-column: 5 span;
}

.grid__fraction_m-col_8 {
    grid-column: 8 span;
}

.layout-container_align_center {
	/* margin: 40px auto; */
}

.layout__container_indent-b_xxl {
    margin-bottom: var(--indentation-xxl);
}

.layout__container_indent-b_xxxxl {
    margin-bottom: var(--indentation-xxxxl);
}

.layout__container_size_m {
    width: 1280px;
}

.layout__container_size_s {
    width: 920px;
}

.layout__container_space-v_xxxxl {
    padding: var(--indentation-xxxxl);
}

.layout__container_space-v_xxxxxl {
    padding: var(--indentation-xxxxxl);
}

.list__item_border_bottom {
    border-bottom: 3px var(--border-bg-color) solid;
}

.list__item_border_bottom:last-child {
    border-bottom: 0;
}


.list__item_border_top {
    border-top: 3px var(--border-bg-color) solid;
}

.list__item_distribute_between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.list__item_indent-b_l {
    /* padding-bottom: var(--indentation-l); */
}

.list__item_indent-b_m {
    padding-bottom: var(--indentation-m);
}

.list__item_indent-b_s {
    margin-bottom: var(--indentation-s);
}

.list__item_indent-b_xl {
    margin-bottom: var(--indentation-xl);
}

.list__item_indent-t_m {
    /* margin-top: var(--indentation-m); */
}

.list__item_space-a_m {
    padding: var(--indentation-m);
}

.list__item_space-b_s {
    padding-bottom: var(--indentation-s);
}

.list__item_vertical-align_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
