.card__subtext {
	display: flex;
	align-items: center;
}

.card__subtext .text {
    padding: 0 5px 0 0;
}

.card__subtext .text:nth-child(3) {
	color: var(--text-secondary);
	font-size: var(--text-m);
}

.card__subtext .icon {
	background-position: 3px;
}