.footer {
	width: 100%;
	background-color: var(--accent-bg-color);
	position: absolute;
	bottom: 0;
}

.footer-content {
	width: var(--full-width);
	margin: 0 auto;
	padding: var(--indentation-xs) var(--gap);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-item {
	display: flex;
}

.footer-item .link {
	padding-left: 8px;
}
