input.input {
	/* width: 100%; */
	border: 2px var(--border-bg-color) solid;
	padding: 8px;
	border-radius: 5px;
	margin: 0 0 24px 0;
	outline: 0;
}

.input_width_full {
	width: 100%;
}

.input_with_add-ons {
	display: flex;
	align-items: center;
	margin: 0 0 24px 0;
}

.input_with_add-ons input {
	width: 45px;
	text-align: center;
	margin: 10px;
}
/* 
.input-field {
	flex: 1;
} */

.input-item {
}
